<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @order.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @order.body %>
</p>

<p>
  <strong>Published at:</strong>
  <%= @order.published_at %>
</p>

<p>
  <strong>Physician:</strong>
  <%= @order.physician %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
